.container{
    background-color:darkgrey;
    display: flex;
    height: 1000px;
    width: 1000px;
    flex-direction: column;


}

.first{
    background-color: red;
    display: flex;
}

.second{
    flex-wrap: wrap;
    display: flex;
    column-gap: 88px

}

.third{

align-self: end;
    display: flex;
}

.box{
    width: 200px;
    height: 200px;
}
.B{
    width:780px;
    background-color: olivedrab;
}

.C{
    background-color: brown;

}
.D{
    background-color: darkkhaki;
}
.E{
    background-color: coral;
}

.J{
    margin-top: -466px;
   height: 450px;
    background-color: greenyellow;
}