.container {
    background-color: gray;
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 20px;

}

.first{
  flex-direction: column;

}
.second{
    display: flex;
    column-gap: 20px;
}
.thirt{
    align-self: end;


}
.box{
    width: 200px;
    height: 200px;

}



.A{
    background-color: beige;
    width: 1000px;

}

.B {
    background-color: burlywood;
    width: 800px;
}

.C{


    background-color: darkkhaki;

}
.D{
    background-color: aquamarine;
}

.E{
    background-color: darkcyan;
}

.J{
    background-color: lightpink;


}


