
body {
    background-color: gray

}
h2{

    font-size: 22px;

}

h3{

    font-size: 20px;
    color:midnightblue;
}

h4{
    font-size: 20px;
    color:midnightblue;

}
.imgaes{
    margin-top: 10px;
    width: 400px;
    height: 450px;
    padding-left: 10px;
}
.h1{
    width: 400px;
    height: 100px;
    color: maroon;
    margin-left: 10px;
    border: 3px solid maroon;
    margin-top: 10px;
}

.h2{
    width: 400px;
    height: 100px;
    color:midnightblue;
    margin-left: 10px;
    border: 3px dotted midnightblue;
    margin-top: 10px;

}

.skills{
    margin-left: 10px;
    color: maroon;
}

.soft_skills{
    width: 400px;
    height: 200px;
    border: 3px solid midnightblue;
    border-radius: 20px;
    margin-top: 10px;
}

.hard_skills{
    width: 400px;
    height: 200px;
    border: 3px solid midnightblue;
    border-radius: 20px;
    margin-top: 10px;
}