    .container{
        background-color: grey;
        display: flex;
        flex-direction: column;
        width: 1000px;



    }
    .second{
        display: flex;
        flex-direction:row;
        width: 800px;
        flex-wrap: wrap;
        column-gap: 20px;

    }
    .box{

        width: 200px;
        height: 200px;
    }
    .A{
        width: 1000px;
        background-color: darkkhaki;
    }
    .B{
        background-color: burlywood;
    }
    .C{
        background-color: darkcyan;
    }

    .D{
        background-color: olivedrab;
    }
    .E{
        background-color: darkseagreen;
    }
    .F{
        background-color: sienna;
    }
    .G{
        
        background-color: cornflowerblue;
    }
    .H{
        background-color:seagreen;
        align-self: end;
        width: 300px;
        height: 400px;
        margin-top: -470px;

    }